.mostrar{
    background-color: beige;
    margin-top: auto;
    text-align:left;
}
div h1{
    background-color: rgb(241, 181, 15);
    text-shadow: 3px 3px 5px rgb(255, 9, 210),
    6px 6px 5px rgb(208, 255, 0),
    9px 9px 5px #00f;
    text-align: center;
}
.diseño{
    text-align: center;
    color: rgb(192, 244, 8);
    background-color: rgb(241, 16, 253);
    margin-top: 150px;
}