.mostrar{
    background-color:beige;
    margin-top: auto;
    text-align:left;
}
div h1{
    background-color: rgb(231, 158, 21);
    text-align: center;
}
.diseño{
    text-align: center;
    color: rgb(214, 8, 241);
    background-color: rgb(44, 226, 27);
    margin-top: 150px;
}