.mostrar{
    background-color:beige;
    margin-top: auto;
    text-align:left;
}
div h1{
    background-color: rgb(121, 36, 21);
    text-align: center;
}
.diseño{
    text-align: center;
    color: rgb(69, 156, 69);
    background-color: rgb(228, 21, 142);
    margin-top: 150px;
}