.caja{
    position: top;
    background-color: rgb(201, 117, 39);
    width: 200px;
    height: 200px;
    border: 1px rgb(36, 150, 165);
    border-radius: 20px;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
}