input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    background-color:rgb(217, 253, 11);
    color: rgb(252, 250, 250);


}