.mostrar{
    background-color: rgb(231, 228, 14);
    margin-top: auto;
    text-align: left;
}
div h1{
    background-color: rgb(66, 175, 71);
    text-shadow: 3px 3px 5px rgb(54, 29, 29),
    6px 6px 5px rgb(6, 89, 6),
    9px 9px 5px rgb(156, 104, 0);
    text-align: center;
}
.diseño{
    text-align: center;
    color: rgb(84, 27, 138);
    background-color: rgb(18, 226, 233);
    margin-top: 150px;
}